## **Sampling the Database for demo purpose because the original Dataset is 5GB**

to do the same, dowload the Dataset from there: https://www.kaggle.com/competitions/h-and-m-personalized-fashion-recommendations/data

in the current folder. make sure you have the three file:
- `customers.csv`
- `articles.csv`
- `transactions.csv`

then run this jupyter notebook to sample the transactions file and the customers file based on the newly created transaction file

In [4]:
import pandas as pd

In [ ]:
transactions = pd.read_csv("transactions_train.csv")
transactions = transactions.sample(frac=0.15, random_state=42)

print(len(transactions))

4768249

In [7]:
transactions.to_csv("transaction_sample.csv", index=None)

In [10]:
transactions = pd.read_csv("transaction_sample.csv")
customers_df = pd.read_csv("customers.csv")
# Get unique customer IDs from the sampled transactions
sampled_customer_ids = transactions['customer_id'].unique()

# Filter the customer dataframe to keep only those in the sample
customers_df_filtered = customers_df[customers_df['customer_id'].isin(sampled_customer_ids)].copy()

In [11]:
print(f"Original customer count: {len(customers_df)}")
print(f"Filtered customer count: {len(customers_df_filtered)}")

Original customer count: 1371980
Filtered customer count: 940287

In [12]:
customers_df_filtered.to_csv("customers_df_filtered.csv", index=None)

In [15]:
customers_df_filtered.iloc[4]["customer_id"]

'000064249685c11552da43ef22a5030f35a147f723d5b02ddd9fd22452b1f5a6'

In [16]:
transactions[transactions["customer_id"] == "000064249685c11552da43ef22a5030f35a147f723d5b02ddd9fd22452b1f5a6"]

,t_dat,customer_id,article_id,price,sales_channel_id
2682476,2019-10-02,000064249685c11552da43ef22a5030f35a147f723d5b0...,738133005,0.016932,2